<div class="bg-gray-500 w-full h-full flex flex-col" >
    <div class="flex flex-col md:grid md:grid-cols-4 item-center mt-36">
        <img src="../../../assets/images/pokeball-background.png" alt="pokeball" class="fixed w-screen/50 h-full isent z-0">
        <div class="m-5 fixed z-50 hidden md:flex items-center"> 
            <mat-slide-toggle 
            ngModel
            (change)="onShinyChange($event)"> 
            </mat-slide-toggle>
            <img src="../../../assets/images/shiny_symbol.png" alt="shiny" width="20px" height="20px">
        </div>
        <div class="justify-between z-40 mt-10" *ngFor="let poke of pokemonList">
            <app-pokemon-card
            [poke]="poke"
            [shiny]="shiny"
            ></app-pokemon-card>
        </div>   
    </div>
    
    
</div>