.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .search-icon {
    color: #888;
    font-size: 20px;
  }
  
  .mat-form-field-outline {
    border-color: #ccc;
    transition: border-color 0.3s ease-in-out;
  }
  
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    border-color: #006400; /* Cor verde escuro no foco */
  }
  
  .mat-form-field-appearance-outline .mat-form-field-outline-end,
  .mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-radius: 8px; /* Bordas arredondadas */
  }
  
  .mat-input-element {
    padding-left: 40px; /* Dar espaço para o ícone */
    font-size: 16px;
    height: 40px; /* Aumentar o tamanho do campo de input */
  }
  
  .mat-form-field-appearance-outline .mat-form-field-outline {
    border-color: #ccc;
  }
  
  .mat-form-field-outline .mat-form-field-outline-start {
    border-radius: 5px;
  }
  
  .mat-form-field-appearance-outline.mat-form-field-invalid .mat-form-field-outline-thick {
    border-color: #ff0000;
  }
  