<div class="w-full fixed p-4 bg-gradient-to-b from-red-700  to-orange-700/80 to-90% text-3xl font-bold flex items-center justify-between z-50">
    <div>
        <h1 class="m-0 text-2xl text-white hidden md:flex">Pokedex</h1>
    </div>
    <div class="m-0">     
        <div class="search-container">
              <input matInput [(ngModel)]="inputValue" (input)="updateSearch()" placeholder="Search:" 
              class="bg-slate-500/50 p-3  rounded-lg border-sky-200/10"/>        
        </div>
    </div>
    <div class=" hidden">
        
            
    </div>
</div>
